<a href="https://6983452.app.netsuite.com/app/login/oauth2/authorize.nl?response_type=code&client_id=<%=ENV['NS_CLIENT_ID']%>&scope=rest_webservices&state=7MicisDMjEPJpkO4ri5jvw12&redirect_uri=<%=ENV['NS_REDIRECT_URI']%>">
  Authorize Net Suite
</a>

# touched on 2025-05-22T22:46:58.660536Z
# touched on 2025-05-22T23:01:22.857720Z