<div class="data-container for-hero">

  <div class="hero-video-group">
    <video loop autoplay muted class="hero-video" preload="none">
      <source src="https://agazon-storage.nyc3.digitaloceanspaces.com/public/CTA_Home_Page_Welcome_1440.mp4" type="video/mp4">
    </video>

    <div class="video-caption">
      <div class="logo-group">
        <h1 class="caption-text poppins-bold-text-24">
          WELCOME TO
        </h1>

        <%= image_tag 'cta/temp-_agzaga-combo-w.svg', class: 'outerdiv-img', alt: 'logo' %>
      </div>

      <div class="poppins-bold-text-24 caption-sub-text first">
        Get 5% Off Your First Order!
      </div>

      <div class="poppins-bold-text-24 caption-sub-text mb-1">
        Enter code
      </div>

      <div class="caption-sub-btn mb-1">
        FIRST5
      </div>

      <div class="poppins-bold-text-24 caption-sub-text">
        at checkout
      </div>

    </div>
    <div class="video-overlay"></div>
  </div>

</div>

# touched on 2025-05-22T19:07:26.485116Z
# touched on 2025-05-22T19:22:05.376083Z
# touched on 2025-05-22T20:44:32.254221Z
# touched on 2025-05-22T22:38:51.640490Z
# touched on 2025-05-22T23:19:49.608913Z
# touched on 2025-05-22T23:22:33.779215Z
# touched on 2025-05-22T23:39:29.276659Z