<% fill ||= 0 %>
<% reviews_count ||= 0 %>
<% hide_rating_number ||= false %>

<div class="rating">
  <% (1..5).each do |i| %>
    <span class="rating-wheat <%= 'filled' if i <= fill %>"></span>
  <% end %>

  <% unless hide_rating_number %>
    <span class="number poppins-small-text">(<%= reviews_count %>)</span>
  <% end %>
</div>

# touched on 2025-05-22T20:39:02.249484Z
# touched on 2025-05-22T22:43:55.087731Z
# touched on 2025-05-22T23:26:28.863274Z
# touched on 2025-05-22T23:30:28.998077Z
# touched on 2025-05-22T23:30:45.565462Z