<% heading_text ||= 'NEW ADDITIONS' %>
<% for_mobile ||= false %>

<div id="top-rated-this-season" class="data-container featured-carousel">
  <h2 class="section-heading"><%= heading_text %></h2>
  <a class="view-all-link" href="<%= spree.products_url(new_addition: true) %>">View All</a>
  <div class="container-fluid p-0">
    <div id="addition-carousel" class="owl-carousel owl-theme home-page-slider">
      <% @product_cards.each do |product| %>
        <div class="item">
          <a href="<%= product_path(product) %>" class="clear-link product-image-link" data-turbolinks="false">
            <%= render partial: 'spree/shared/standard_product_card', locals: { product: product } %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

# touched on 2025-05-22T19:16:11.209105Z
# touched on 2025-05-22T20:33:38.551094Z
# touched on 2025-05-22T23:05:14.233482Z
# touched on 2025-05-22T23:07:39.177304Z