<% total_levels = 4 %>
<div class="step-progress <%= 'finish-progress' if level == total_levels %>">
  <div class="step-progress-bar <%= 'completed' if level == total_levels %>" style="width: <%= level * (100/total_levels) %>%">
  </div>
</div>

# touched on 2025-05-22T20:43:50.944209Z
# touched on 2025-05-22T23:04:01.201511Z
# touched on 2025-05-22T23:43:37.628727Z