<div data-hook="admin_inside_tracking_lookup_form" class="field align-center">
  <%= f.label :url %><br />
  <%= f.text_field :url, class: 'required', required: :true %>
</div>

# touched on 2025-05-22T19:15:49.739148Z
# touched on 2025-05-22T23:30:06.119285Z