<% admin_breadcrumb('Tracking URL Hints') %>

<%= form_for [:admin, @tracking_url] do |f| %>

  <%= render partial: 'form', locals: { f: f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= f.submit t('spree.actions.create'), class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

# touched on 2025-05-22T23:45:35.519716Z