<div class="featured-categories-holder featured-carousel">
  <div id="featured-categories" class="owl-carousel owl-theme home-page-slider">
    <%= render 'spree/products/partials/toys_categories' %>
  </div>
</div>

# touched on 2025-05-22T22:45:44.583004Z
# touched on 2025-05-22T23:05:27.268916Z