<div class="">
  <%= render partial: 'spree/shared/standard_product_card', locals: { product: product } %>
</div>

# touched on 2025-05-22T19:24:56.232747Z
# touched on 2025-05-22T21:34:39.296141Z
# touched on 2025-05-22T23:25:26.235403Z
# touched on 2025-05-22T23:39:03.393203Z