<span class="next">
  <%= link_to_unless current_page.last?, "Next", url, rel: 'next', remote: remote %>
</span>

# touched on 2025-05-22T19:23:34.646329Z
# touched on 2025-05-22T21:30:30.503133Z
# touched on 2025-05-22T22:47:11.769660Z
# touched on 2025-05-22T22:58:59.049315Z
# touched on 2025-05-22T23:21:31.232485Z
# touched on 2025-05-22T23:39:03.398478Z