<span class="prev">
  <%= link_to_unless current_page.first?, ("Previous"), url, rel: 'prev', remote: remote %>
</span>

# touched on 2025-05-22T19:24:31.447904Z
# touched on 2025-05-22T21:30:30.506513Z
# touched on 2025-05-22T23:45:33.090306Z