<div class="cart-line-items" id="cart-page-line-items">
	<%= render 'spree/shared/slider_v2', on_cart_page: true %>
</div>

<%= render partial: 'spree/checkout/registration_modal' %>
<%= render 'spree/shared/product_quick_view' %>
<%= render 'spree/shared/pick_up_popup' %>

# touched on 2025-05-22T21:51:20.673613Z
# touched on 2025-05-22T22:49:20.593963Z
# touched on 2025-05-22T23:26:56.964799Z