<div
  class="modal checkout-login-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  id="user-registration-modal"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="user-registration-content">
      <%= render partial: 'spree/shared/registration_email' %>
    </div>
  </div>
</div>

# touched on 2025-05-22T19:17:07.900928Z
# touched on 2025-05-22T19:24:31.450133Z
# touched on 2025-05-22T20:44:38.678302Z
# touched on 2025-05-22T23:01:12.671873Z
# touched on 2025-05-22T23:06:40.336131Z
# touched on 2025-05-22T23:29:22.761449Z
# touched on 2025-05-22T23:30:36.972814Z
# touched on 2025-05-22T23:44:17.607313Z