<% if @wallet_payment_sources.present? %>
  <div id="existing_cards">
    <div data-hook="existing_cards">
      <div class="existing-credit-card-list">
        <div class="category-sub-title">
          Card Information
        </div>

        <% @wallet_payment_sources.each do |wallet_payment_source| %>
          <%=
            render(
              partial: "spree/checkout/existing_payment/#{wallet_payment_source.payment_source.payment_method.partial_name}",
              locals: {
                wallet_payment_source: wallet_payment_source,
                default: wallet_payment_source == @default_wallet_payment_source,
              }
            )
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="black-btn" id="new_card">New Card</div>
  <div class="btn-section submit_payment_step">
    <%= submit_tag 'Continue to Order Review', class: "save-btn-payment clear-link d-none" %>
    <script>Spree.disableSaveOnClick();</script>
  </div>
<% end %>

# touched on 2025-05-22T20:44:08.382859Z
# touched on 2025-05-22T21:30:50.322795Z
# touched on 2025-05-22T22:50:04.462295Z
# touched on 2025-05-22T23:10:05.019163Z
# touched on 2025-05-22T23:46:33.924102Z