.add_to_cart_modal_v2 {
  .modal.fade.modal-right .modal-dialog {
    transform: translate(100%);
    transition: all 2s;
  }

  .modal.show.modal-right .modal-dialog {
    transform: none;
  }

  .modal {
    pointer-events: none;
    background: transparent;
    padding-right: 0 !important;

    .modal-dialog {
      height: 100%;
      display: flex;
      margin: 58px 0 0 0;
      max-width: 100%;
      justify-content: flex-end;
      align-items: flex-start;

      .modal-content {
        align-self: flex-start;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        padding: 16px;
        align-items: center;
        max-width: 384px;
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
        border-radius: 0px 0px 0px 16px;
        border: none;
        position: relative;

        .cart-section {
          position: absolute;
          left: -49px;
          top: 0;
        }

        .modal-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 0px;
          border-bottom: 2px solid rgba(0,0,0,0.08);
          width: 100%;
          padding: 0 0 16px 0;
          margin-bottom: 11px;

          .modal-line {
            display: none;
            width: 48px;
            border: 1px solid var(--palette-neutral-300);
            margin-bottom: 16px;
          }

          .modal-title {
            .main-heading {
              font-family: 'Lexend';
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 28px;
            }
          }
        }

        .modal-body {
          padding: 0px;
          max-width: 472px;
          width: 100%;

          .product_modal-info {
            display: flex;
            margin-bottom: 11px;
            column-gap: 16px;

            .image-container {
              width: fit-content;
              height: fit-content;
              margin: 0px;

              .product_modal_img {
                width: 84px;
                height: 84px;
                object-fit: contain;
              }
            }

            .product_detail {
              width: 100%;

              .product-detail-content {
                display: flex;
                column-gap: 8px;
                justify-content: space-between;

                .modal_v2_quantity {
                  font-family: 'Poppins';
                  line-height: 20px;
                  font-size: 12px;
                }

                .product_modal_name {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--palette-shades-100);
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  text-align: left;
                }

                .product_modal_price {
                  font-family: 'Poppins';
                  font-size: 16px;
                  line-height: 24px;
                }
              }

              .product-quantity {
                color: var(--palette-neutral-400);
              }
            }
          }

          .buttons_section {
            .cart_btn {
              background: var(--palette-primary-500);
              font-size: 18px;
              line-height: 28px;
              display: flex;
              padding: 10px;
              justify-content: center;
              align-items: center;
              font-family: 'Poppins-medium';
              margin-bottom: 16px;

              .cart-items {
                padding: 0px;
                font-size: 12px;
                line-height: 20px;
                margin: auto 0px;
                background: var(--palette-primary-200);
                padding: 0px 8px;
                border-radius: 24px;
                margin-left: 7px;
                color: #3F3F46;
                font-family: 'Poppins-medium';
              }
            }

            .shpng_btn {
              padding: 0;
              border: 0px;
              font-family: 'Poppins-medium';
              font-size: 14px;
              line-height: 20px;
              font-style: normal;
              width: fit-content;
            }
          }
        }
      }
    }
  }

  @media(max-width: 769px){
    .modal {

      .modal-dialog {
        justify-content: center;
        align-items: flex-end;
        margin: 0;

        .modal-content {
          align-self: unset;
          border-radius: 16px 16px 0 0;
          padding: 8px 16px 32px 16px;
          max-width: inherit;

          .modal-header {
            margin-bottom: 24px;

            .modal-line {
              display: block;
            }
          }

          .modal-body {
            .product_modal-info {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }
}

# touched on 2025-05-22T23:02:56.667082Z
# touched on 2025-05-22T23:07:43.218415Z
# touched on 2025-05-22T23:26:31.176077Z
# touched on 2025-05-22T23:30:39.610960Z