.card-pages-group {
  display: flex;
  width: 100%;

  .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px;
    max-height: 292px;
    height: calc(100vw * 0.2085);

    .load-btn {
      cursor: pointer;

      &.disabled {
        cursor: default;

        svg path{
          stroke: var(--palette-neutral-300)
        }
      }
    }

    &.left {
      margin: 0 30px 0 0;

      .load-btn svg {
        transform: rotate(180deg);
      }
    }
  }

  .cards {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    column-gap: 32px;

    .slider-card {
      display: none;
      flex: 0 1 292px;

      &.visible {
        display: block;
      }
    }

    .standard-product-card {
      width: 100%;
      max-width: 292px;

      .image-container {
        max-height: 292px;
        height: calc(100vw * 0.2085);
        max-width: calc(100vw * 0.2085);
      }
    }

    .product-card-placeholder {
      max-width: 292px;

      .image {
        max-height: 292px;
        height: calc(100vw * 0.2085);
        max-width: calc(100vw * 0.2085);
        border: 1px solid var(--palette-neutral-200);
        border-radius: 8px;
        margin-bottom: 10px;
      }

      .price {
        width: 100%;
        max-width: 100px;
        height: 28px;
        margin-bottom: 4px;
      }

      .name {
        width: 100%;
        max-width: calc(100vw * 0.2085);
        height: 40px;
      }

      .image, .price, .name {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }
    }
  }

  @media (max-width: 991px) {
    .nav-section {
      margin: 0 0 0 20px;

      &.left {
        margin: 0 20px 0 0;
      }
    }

    .cards {
      column-gap: 12px;
    }
  }

  @media (max-width: 767px) {
    .nav-section {
      display: none;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 16px;
      row-gap: 24px;
      margin-bottom: 16px;

      .standard-product-card {
        margin: 0 auto;

        .image-container {
          max-width: inherit;
          height: calc(100vw * 0.4620);
        }
      }
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

# touched on 2025-05-22T20:44:52.199629Z
# touched on 2025-05-22T22:38:39.341626Z
# touched on 2025-05-22T23:01:09.769287Z
# touched on 2025-05-22T23:47:23.546773Z