@import "spree/agzaga_ds/agzaga_variables";
@import "fonts.css.scss";
@import "spree/agzaga_ds/inputs";

html {
  scroll-behavior: smooth;
}

.pages.faq_page {
  .container-fluid {
    padding-right: 24px;
    padding-left: 24px;
  }
  #content {
    text-align: left;
  }
  .no-question-block {
    display: none;
    background-color: var(--palette-destructive-50);
    padding: 56px 24px;
    margin: -58px -24px 48px -24px;

    .no-question-content {
      max-width: 1288px;
      width: 100%;
      margin: 0 auto;

      .top-head {
        display: flex;
        position: relative;

        .close-alert-section {
          position: absolute;
          top: 10px;
          right: 35px;
          cursor: pointer;
        }

        .alert-icon {
          max-width: 52px;
          width: 100%;
          max-height: 52px;
          height: 100%;
          margin-right: 28px;

          img {
            width: 100%;
          }
        }

        .contact-support-icon {
          display: flex;
          align-items:center;
          justify-content: center;
          max-width: 226px;
          width: 100%;

          a {
            color: var(--palette-shades-0);
            text-decoration: none;
          }

          &:before {
            content: image_url("contact_support_icon.png");
            padding: 3px 4px;
            margin-right: 7px;
          }
        }

        .no-question-h4 {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.02em;
          color: var(--palette-neutral-900);
          max-width: 600px;
          width: 100%;
          margin-bottom: 24px;
        }

        .no-question-sub-title {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--palette-neutral-500);
          max-width: 510px;
          width: 100%;
          margin-bottom: 32px;
        }
      }
    }
  }

  .faq-container {
    max-width: 1408px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 24px 0 24px;

    .img-query-section{
      max-width: 1288px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 56px auto;

      .faq-image {
        max-width: 632px;
        width: 100%;
        padding-right: 24px;

        img {
          width: 100%;
          border-radius: 32px;
        }
      }

      .query-section {
        max-width: 608px;
        width: 100%;
        padding-left: 24px;

        .help-text {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.02em;
          color: var(--palette-primary-500);
          margin-bottom: 16px;
        }

        .help-heading {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 700;
          font-size: 52px;
          line-height: 56px;
          max-width: 326px;
          width: 100%;
          letter-spacing: -0.02em;
          color: var(--palette-neutral-900);;
          margin-bottom: 40px;
        }

        .help-text-1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          max-width: 338px;
          width: 100%;
          color: var(--palette-neutral-500);;
          margin-bottom: 52px;
        }

        .faq-search-group {
          display: flex;
          padding: 0;
          position: relative;
          height: 48px;
          background: #FFFFFF;
          border-radius: 100px;
          width: 100%;

          .faq-search-input {
            font-family: 'Poppins';
            width: 100%;
            border: 0;
            margin: 0;
            outline: none;
            font-size: 15px;
            background-color: #FFFFFF;
            padding: 10px 13px 10px 20px;
            border-radius: 100px 0px 0px 100px;
          }

          .ag-input-icon-append {
            padding: 0;
          }

          .search-icon {
            width: 24px;
            height: 24px;
            margin: 12px 20px 12px 0;
          }
        }


        .no-answer-available {
          border: 1px solid var(--palette-destructive-500);
          box-shadow: 0px 0px 0px 4px var(--palette-destructive-100);
        }
      }
    }

    .border-line {
      border: 1px solid var(--palette-neutral-200);
      width: 100%;
      margin-bottom: 56px;
    }

    .qa-section {
      max-width: 1272px;
      width: 100%;
      margin: 0 auto 80px auto;
      display: flex;
      justify-content: space-between;

      .faq-block {
        padding: 0 20px 0 16px;
        width: 46.6%;

        .search-control-div {
          width: 100%;

          .card {
            background: transparent;
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid var(--palette-neutral-200);
            &.active {
              box-shadow: 0px 16px 24px RGB(0 0 0 / 6%), 0px 2px 6px RGB(0 0 0 / 4%), 0px 0px 1px RGB(0 0 0 / 4%);
            }

            .question {
              font-family: 'Poppins-semi-bold';
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: var(--palette-neutral-900);
              margin: 0;
              padding: 16px 0px 16px 0;
              cursor: pointer;

              &[aria-expanded="false"] {
                padding: 16px 0px 16px 0;

                &:after {
                  content: image_url('accordian-down.png');
                  width: 20px;
                  height: 20px;
                }
              }

              &[aria-expanded="true"]:after {
                content: image_url('accordian-down.png');
                transform: rotate(-180deg);
                width: 20px;
                height: 20px;
              }

              p {
                padding: 0;
                margin: 0 16px 0 0;
              }
            }

            .answer {
              display: block;
              margin-bottom: 16px;
              padding: 0;
              color: var(--palette-neutral-500);
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;

              ul {
                line-height: 12px;
                padding: 0 20px;

                li {
                  line-height: 24px;
                }
              }

              ol {
                list-style-type: upper-roman;
              }

              .italic_style {
                font-style: italic;
              }
              a {
                text-decoration: underline;
                color: var(--palette-primary-600);
              }

              .clear-link {
                text-decoration: none;
              }

              .link_to_question {
                background-color: #bfbfbf;
                cursor: pointer;
              }
            }
          }
        }

        .faq-h4 {
          font-family: 'Lexend-semi-bold';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.02em;
          color: var(--palette-neutral-900);
          margin-bottom: 28px;
        }

        .heading-bottom-border {
          border-bottom: 2px solid var(--palette-primary-500);
          width: 80px;
          margin-bottom: 12px;
        }

      }
    }

    .contact-section {
      max-width: 1288px;
      width: 100%;
      margin: 0 auto 80px auto;
      display: flex;
      justify-content: space-between;

      background: var(--palette-neutral-800);
      box-shadow: 0px 20px 25px rgba(16, 24, 40, 0.1), 0px 8px 10px rgba(16, 24, 40, 0.1);
      border-radius: 32px;
      padding: 67px 80px;
      color: #FFFFFF;

      .contact-support {
        max-width: 474px;
        width: 100%;

        .support-heading {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 700;
          font-size: 52px;
          line-height: 56px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 28px;
        }

        .support-sub-heading {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--palette-neutral-200);
          max-width: 338px;
          width: 100%;
          margin-bottom: 64px;
        }

        .support-badge {
          display: flex;
          align-items: center;
          padding: 8px 22px;
          background-color: #FFFFFF;
          border: 1px solid #D4D4D8;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 6px;
          font-family: 'Poppins-medium';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: var(--palette-neutral-800);
          max-width: 316px;
          width: 100%;
          height: 40px;
          margin-bottom: 32px;
          cursor: pointer;

          a {
            color: inherit;
            text-decoration: none;
          }
        }

        .support-message::before {
          content: image_url("support_message.png");
          width: 16px;
          height: 16px;
          margin-right: 6px;
        }

        .support-email {
          &:before {
            content: image_url("support_email.png");
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }
        }

        .support-phone {
          &:before {
            content: image_url("support_phone.png");
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }
        }

        .support-border {
          border-bottom: 2px solid var(--palette-neutral-500);
          max-width: 80px;
          width: 100%;
          margin: 64px 0;
        }

        .support-h4 {
          font-family: 'Lexend-semi-bold';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 20px;
        }

        .social-icon-block {
          display: flex;
          .support-social-icon {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
        }

      }

      .contact-form {
        max-width: 611px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 25px -5px rgba(16, 24, 40, 0.1), 0px 8px 10px -6px rgba(16, 24, 40, 0.1);
        border-radius: 24px;
        padding: 32px 50px;
        color: var(--palette-neutral-900);

        #new-form-success-message {
          text-align: center;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;

          a {
            text-decoration: none;
            color: #FFFFFF;
          }
        }

        .hide-element {
          display: none;;
        }

        .show-thank-you-message {
          display: flex;
        }

        .contact-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 32px;
          margin: 0 -12px 32px -12px;
        }

        .contact-half-block {
          max-width: 267px;
          width: 100%;
          padding: 0 12px;
        }

        .contact-full-block {
          width: 100%;
          padding: 0 12px;

          .email-section {
            display: flex;
            align-items: center;
            border: 1px solid #D4D4D8;
            border-radius: 6px;

            input[type="email"] {
              border: none;
              padding: 10px;
            }

            img {
              padding: 15px 15px 15px 0;
            }
          }
        }

        label {
          font-family: 'Poppins-medium';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--palette-neutral-900);
          margin-bottom: 4px;
          padding: 0;
          display: block;
        }

        .input-control {
          background: #FFFFFF;
          border: 1px solid #D4D4D8;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 6px;
          width: 100%;
          height: 40px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--palette-neutral-900);
          padding: 10px 12px;
        }

        .text-control {
          width: 100%;
          height: 236px;
          padding: 10px 12px;
          box-sizing: border-box;
          resize: none;

          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--palette-neutral-900);

          background: #FFFFFF;
          border: none;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 6px;

        }

        .btn-block {
          display: flex;
          .ag-btn-lg {
            padding: 10px 76px;
            margin-right: 28px;
            max-height: 48px;
          }

          input[type="submit"] {
            background-color: var(--palette-primary-500);
            color: var(--palette-shades-0);
            border: 1px solid transparent;
            padding: 10px 24px;
            font-size: 18px;
            line-height: 28px;
            border-radius: 6px;
            padding: 10px 0;
            font-weight: 500;
            max-width: 216px;
            width: 100%;
          }

          .sub-title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: var(--palette-neutral-400);
            a {
              color: var(--palette-neutral-400);
              text-decoration: underline;
            }
          }
        }

      }

      .mobile-only-support-block {
        display: none;
      }
    }
  }

  .faq-support-section {
    padding: 0;
  }

  @media (max-width: 1024px) {
    .no-question-block {
      display: none;
      margin: -58px -24px 48px -24px;
      padding: 56px 52px;
    }

    .faq-support-section{
      padding: 0 !important;
    }

    .faq-container {
      padding: 40px 0 0 0;

      .border-line {
        margin: 0 -24px 48px -24px;
        width: auto;
      }

      .img-query-section {
        margin: 0 auto 48px auto;

        .faq-image {
          padding-right: 12px;
        }

        .query-section {
          padding-left: 12px;

          .help-text {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.02em;
          }

          .help-heading {
            font-size: 44px;
            line-height: 48px;
            margin-bottom: 32px;
          }

          .help-text-1 {
            margin-bottom: 40px;
          }
        }
      }

      .qa-section {
        margin: 0 0 56px 0;

        .faq-block {
          width: 47.5%;
          padding: 0 16px;
        }
      }

      .contact-section {
        padding: 32px;
        margin: 0;

        .contact-support {
          margin: 0 12px 0 0;
          max-width: 376px;

          .support-heading {
            font-size: 44px;
            line-height: 48px;
            letter-spacing: -0.02em;
          }

          .support-h4 {
            font-size: 24px;
            line-height: 32px;
          }

        }

        .contact-form {
          margin: 0 0 0 12px;
          padding: 32px 40px;
          max-width: 512px;
        }
      }
    }
  }

  @media (max-width: 991px) {

    .container-fluid {
      padding-right: 16px;
      padding-left: 16px;
    }

    .no-question-block {
      display: none;
      padding: 28px 16px 32px 16px;
      margin: -58px -16px 48px -16px;

      .no-question-content {
        .top-head {
          flex-direction: column;
          text-align: center;

          .mobile-w-100 {
            width: 100%;
          }

          .alert-icon {
            margin-right: 0;
            margin: 0 auto 20px auto;
          }

          .no-question-h4 {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.02em;
            max-width: 382px;
            margin: 0 auto 16px auto;
          }

          .no-question-sub-title {
            max-width: 316px;
            margin: 0 auto 32px auto;
          }

          .ag-btn-lg {
            max-width: inherit;
            width: 100%;
          }
        }
      }
    }
    .faq-container {
      padding: 0;
      margin-top: 40px;

      .border-line {
        margin: 0 -16px 48px -16px;
      }

      .img-query-section {
        flex-wrap: wrap;
        margin: 0 auto 48px auto;

        .faq-image {
          max-width: 100%;
          padding-right: 0;
          margin-bottom: 32px;
        }

        .query-section {
          max-width: 100%;
          padding-left: 0;

          .help-text {
            font-size: 18px;
            line-height: 28px;
          }

          .help-heading {
            font-size: 44px;
            line-height: 48px;
            margin-bottom: 24px;
          }

          .help-text-1 {
            margin-bottom: 32px;
          }
          .faq-search-group {
            .faq-search-input {
              line-height: 24px;
            }
          }
        }
      }

      .qa-section {
        flex-wrap: wrap;
        margin: 0;

        .faq-block {
          width: 100%;
          margin-bottom: 56px;
          padding: 0;
        }
      }

      .contact-section {
        padding: 32px 16px 0 16px;
        flex-wrap: wrap;
        border-radius: 0;
        margin: 0 -16px;
        width: auto;

        .contact-form {
          margin: 0;
        }

        .contact-support {
          max-width: 100%;
          text-align: center;
          margin-bottom: 0;

          .support-heading {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 16px;
          }

          .support-sub-heading {
            text-align: center;
            max-width: 100%;
            margin-bottom: 32px;
          }

          .support-badge, .support-h4, .social-icon-block, .support-border {
            display: none;
          }

        }

        .contact-form {
          max-width: 100%;
          padding: 32px;
          margin-bottom: 32px;

          .contact-row {
            flex-wrap: wrap;
            margin: 0 -12px 24px -12px;
          }

          .mobile-only-email-margin {
            margin-top: -24px;
          }

          .contact-half-block {
            max-width: 100%;
            margin-bottom: 24px;
          }

          .btn-block {
            flex-wrap: wrap;

            .ag-btn-lg {
              width: 100%;
              margin-right: 0;
              margin-bottom: 16px;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 48px;
            }

            input[type="submit"] {
              max-width: 100%;
              width: 100%;
            }

            .sub-title {
              width: 100%;
              text-align: center;
            }
          }
        }

        .mobile-only-support-block {
          display: block;
          width: 100%;

          .mobile-support-heading {
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            margin-bottom: 32px;
          }

          .support-badge {
            display: flex;
            align-items: center;
            padding: 8px 22px;
            background-color: #FFFFFF;
            border: 1px solid #D4D4D8;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 6px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            height: 40px;
            color: var(--palette-neutral-800);
            max-width: 100%;
            width: 100%;
            margin-bottom: 32px;
            cursor: pointer;

            a {
              color: inherit;
              text-decoration: none;
            }
          }

          .support-message::before {
            content: image_url("support_message.png");
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }

          .support-email::before {
            content: image_url("support_email.png");
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }

          .support-phone::before {
            content: image_url("support_phone.png");
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }

          .social-icon-block {
            display: flex;
            max-width: 220px;
            width: 100%;
            margin: 56px auto 56px auto;
            justify-content: space-between;
          }
        }

      }

    }

  }

  @media (max-width: 767px) {
    #header_v2 {
      padding-bottom: 125px;
    }
  }

}

# touched on 2025-05-22T19:16:13.072249Z
# touched on 2025-05-22T20:34:18.783095Z
# touched on 2025-05-22T21:33:35.959667Z
# touched on 2025-05-22T23:06:35.599054Z
# touched on 2025-05-22T23:26:22.767228Z
# touched on 2025-05-22T23:26:38.899787Z
# touched on 2025-05-22T23:36:49.756308Z
# touched on 2025-05-22T23:36:52.304385Z