.user_passwords.edit {
  .new-password-section {
    max-width: 382px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    background: var(--palette-shades-0);
    border-radius: 16px;
    border: 1px solid var(--palette-neutral-200);
    margin-top: 48px;

    .content {
      .header {
        font-family: 'Poppins-semi-bold';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: var(--palette-shades-100);
        margin-bottom: 18px;
      }

      .body {
        .header {
          font-family: 'Poppins-medium';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--palette-neutral-800);
          margin-bottom: 16px;
        }

        #new-password-credentials {
          margin-bottom: 24px;

          .form-group {
            .ag-input-neutral {
              .ag-input-group-box {
                &:focus-within, &:hover {
                  box-shadow: none;
                  border-color: var(--palette-neutral-300);
                }
              }

              .error-message {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: var(--palette-destructive-500);
                margin-top: 8px;
              }
            }
          }
        }

        .update-password {
          #update-password-btn {
            font-family: 'Poppins-medium';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--palette-shades-0);
            width: 100%;
            border: none;
            border-radius: 6px;
            margin: 0 auto;
            background-color: var(--palette-primary-500);
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 6px;
            cursor: pointer;
            box-shadow: none;

            &:hover {
              background: var(--palette-primary-600);
            }

            &:after {
              content: image-url('update-icon.png');
              width: 20px;
              height: 20px;
            }

            &:disabled {
              background-color: var(--palette-primary-300);
              cursor: default;
            }
          }
        }
      }
    }
  }
}

# touched on 2025-05-22T19:15:00.775971Z
# touched on 2025-05-22T19:17:30.932311Z
# touched on 2025-05-22T23:00:15.473723Z
# touched on 2025-05-22T23:03:27.197229Z