.products.show, .products.index, .pages.chuckwagon_dvd, .orders.edit, .orders.show, .home.index, .product_categories.index, .favorites.index, .taxons.show, .products.deals{
  .option-label {
    margin-bottom: 7px;
    padding-top: 9px;
    display: block;
  }

  .select2 {
    margin-bottom: 12px;
  }

  .select2, .select2-selection {
    &:focus {
      outline: none;
    }
  }

  .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #F5F5F5;;
    cursor: default;
    .select2-selection__rendered  {
    color: #C0C0C0;
    }
    .select2-selection__arrow {
      b {
        content: image-url('dropdown_arrow_down_grey.svg');
      }
    }
  }

  .select2-container--default {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          content: image-url('dropdown_arrow_down.svg');
          width: 10.45px;
          height: 7.39px;
          background-size: 100%;
          border: none;
        }
      }
    }
  }

  .select2-container--open {
    .select2-dropdown--above {
      box-shadow: none;
      border-radius: 8px 8px 0px 0px;
    }

    .select2-selection--single {
       border-bottom-right-radius: 8px !important;
       .select2-container--default .select2-selection--single .select2-selection__arrow b{

       }

      .select2-selection__arrow {
        b {
          content: image-url('dropdown_arrow_up.svg') !important;
          width: 10.45px;
          height: 7.39px;
          background-size: 100%;
          border: none;
        }
      }
    }
  }

  .select2-selection {
    padding: 4px 5px;
    height: 32px;
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    line-height: 24px;
    box-shadow: 0px 0px 1px 0px #0000000a, 0px 2px 6px 0px #0000000a, 0px 10px 20px 0px #0000000a;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    border: none;
    position: relative;
    z-index: 0;
    color: #B0B0B0;
    margin-bottom: 0;
    .select2-selection__rendered {
      line-height: 24px;
    }

    .select2-selection__arrow {
      width: 32px;
      height: 32px;
    }
  }

  .select2-dropdown {
    padding: 6px 0;
    width: 364px !important;
    max-height: 150px;
    overflow-y: scroll;
    border: none;
    background: #fff;
    border-radius: 0 0px 8px 8px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 1px 0px #0000000a, 0px 2px 6px 0px #0000000a, 0px 10px 20px 0px #0000000a;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #F1B71C;
      border-radius: 100px;
    }

    .select2-results__option--selectable {
      background: none;
      color: #353535;
      padding: 4px 14px;
      &.active,
      &:hover {
        background: none;
        color: #F1B71C;
      }
    }
    .select2-results__option--disabled {
      text-decoration-line: line-through;
      color: #D4D4D4;
      padding: 4px 14px;
    }
  }
}

# touched on 2025-05-22T19:10:36.867202Z
# touched on 2025-05-22T19:23:29.868901Z
# touched on 2025-05-22T21:57:31.259949Z
# touched on 2025-05-22T23:39:42.701384Z
# touched on 2025-05-22T23:48:15.376046Z