.ag-btn-group {
  position: relative;
  display: flex;
  vertical-align: middle;
  margin: 10px;
}

.ag-btn-group {
  .ag-btn:not(:nth-child(1), :nth-last-child(1)) {
    border-radius: 0px;
  }

  .ag-btn:nth-child(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .ag-btn:nth-last-child(1) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .ag-btn:not(:last-child) {
    border-right: 0;
  }
}

@media(max-width: 991px) {
  .ag-btn-group {
    display: flex;
    flex-wrap: wrap;

    .ag-btn:not(:nth-child(1), :nth-last-child(1)) {
      border-radius: 0px;
    }
  }
}

# touched on 2025-05-22T19:14:48.416410Z
# touched on 2025-05-22T19:23:39.109117Z
# touched on 2025-05-22T22:45:25.331381Z
# touched on 2025-05-22T23:26:43.766881Z
# touched on 2025-05-22T23:29:13.046850Z
# touched on 2025-05-22T23:45:21.084278Z