@import "spree/agzaga_ds/agzaga_variables";

.shadow-xs {
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.5); 
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.5);
}

.shadow-sm {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px -1px rgba(16, 24, 40, 0.1);
}

.shadow-md {
  box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
}

.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
}

.shadow-xl {
  box-shadow: 0px 20px 25px -5px rgba(16, 24, 40, 0.1), 0px 8px 10px -6px rgba(16, 24, 40, 0.1);
}

.shadow-xxl {
  box-shadow: 0px 25px 50px -12px rgba(16, 24, 40, 0.25);
}

.blur-none {
  backdrop-filter: blur(0);
}

.blur-sm {
  backdrop-filter: blur(8px);
}

.blur-md {
  backdrop-filter: blur(16px);
}

.blur-lg {
  backdrop-filter: blur(24px);
}

.blur-xl {
  backdrop-filter: blur(40px);
}

# touched on 2025-05-22T20:38:16.647168Z
# touched on 2025-05-22T20:44:56.523190Z
# touched on 2025-05-22T21:34:41.900108Z
# touched on 2025-05-22T23:06:51.183501Z
# touched on 2025-05-22T23:09:59.859433Z
# touched on 2025-05-22T23:38:17.179302Z