<div id="carouselExampleIndicators" class="slider carousel slide w-100" data-ride="carousel">
  <div class="carousel-inner" role="listbox" aria-label="cta carousel">
    <div class="carousel-item active" role="option">
      <div class="outerdiv" style="position: relative;">
        <img src='https://assets.agzaga.com/public/ffa-convention-img1.webp' alt='ffa convention img1'>
      </div>
    </div>

    <div class="carousel-item" role="option">
      <div class="outerdiv" style="position: relative;">
        <img src='https://assets.agzaga.com/public/ffa-convention-img2.webp' alt='ffa convention img2'>
      </div>
    </div>

    <div class="carousel-item" role="option">
      <div class="outerdiv" style="position: relative;">
        <img src='https://assets.agzaga.com/public/ffa-convention-img3.webp' alt='ffa convention img3'>
      </div>
    </div>

    <div class="carousel-item" role="option">
      <div class="outerdiv" style="position: relative;">
        <img src='https://assets.agzaga.com/public/ffa-convention-img4.webp' alt='ffa convention img4'>
      </div>
    </div>
  </div>

  <div class="carousel-indicators-section">
    <a class="carousel-control-prev left-arrow" href="#carouselExampleIndicators" role="button" data-slide="prev" aria-label="carousel-left-icon">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <ol class="carousel-indicators">
      <span class="indicator active"><li data-target="#carouselExampleIndicators" data-slide-to="0"></li></span>

      <span class="indicator"><li data-target="#carouselExampleIndicators" data-slide-to="1"></li></span>

      <span class="indicator"><li data-target="#carouselExampleIndicators" data-slide-to="2"></li></span>

      <span class="indicator"><li data-target="#carouselExampleIndicators" data-slide-to="3"></li></span>
    </ol>

    <a class="carousel-control-next right-arrow" href="#carouselExampleIndicators" role="button" data-slide="next" aria-label="carousel-right-icon">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

# touched on 2025-05-22T22:30:40.167769Z
# touched on 2025-05-22T22:55:43.102261Z