<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>

<body>
    <%= yield %>
</body>
</html>

# touched on 2025-05-22T19:24:52.321768Z
# touched on 2025-05-22T22:43:15.131215Z