<ul class="volume-price-ranges">
  <li>
    All ranges need to be expressed as Strings and can include or exclude parentheses. "(1..10)" and "1..10" are considered to be a valid range.
  </li>

  <li>
    If the range is defined with '..' then it also includes the upper end of the range.
  </li>

  <li>
    If the range is defined with '...' then the upper end of the range is not inclusive.
  </li>

  <li>
    Ranges can also be defined as "open ended." Open ended ranges are defined with an integer followed by a '+' character and should be defined at the last.
  </li>
</ul>

<div class="row">
  <div class="col-4">
    <%= f.field_container :volume_price_model, class: ['form-group'] do %>
      <%= f.label :volume_price_model_id, t('spree.volume_price_model') %>
      <%= f.collection_select :volume_price_model_ids,
        Spree::VolumePriceModel.all, :id, :name,
        {
          include_blank: t('spree.match_choices.none')
        },
        {
          class: 'custom-select fullwidth',
          disabled: cannot?(:edit, Spree::VolumePriceModel)
        } %>
      <%= f.error_message_on :volume_price_model %>
    <% end %>
  </div>
</div>

# touched on 2025-05-22T23:01:12.665341Z
# touched on 2025-05-22T23:30:17.118960Z