<div class="modal-content success-modal-bg">
  <div class="header success-modal-header">
    <div class="modal-title">
      <div class="signup-success-icon">
        <%= image_tag 'ffa-confirm-check.svg' %>
      </div>
      <div class="main-heading signup-heading">You're Signed Up!</div>
    </div>
    <div class="poppins-bold-text-12 d-md-block close-modal review_modal_close" data-dismiss="modal"></div>
  </div>
  <div class="modal-body success-modal-body">
    We’ll let you know when it’s time to enroll, and we’ll keep in touch with updates along the way. No spam, we promise!
  </div>
  <button class="btn-orange-red" data-dismiss="modal">
    Done
  </button>
</div>

# touched on 2025-05-22T21:34:41.902813Z
# touched on 2025-05-22T22:30:48.561753Z