<%= form_for [:admin, @faq] do |f| %>

  <%= render partial: 'form', locals: { f: f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= f.submit t('spree.actions.create'), class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

# touched on 2025-05-22T19:21:45.885406Z
# touched on 2025-05-22T20:41:14.918186Z
# touched on 2025-05-22T22:44:54.837446Z
# touched on 2025-05-22T22:58:48.568098Z
# touched on 2025-05-22T23:08:36.742848Z