<% content_for :title, 'Agzaga - About Us' %>

<header class="about-us-header">
  <div class="head-nav">
    <div class="nav-block">
      <a href="#family-owned" class="ag-btn-lg">Family-Owned</a>
      <a href="#market-place" class="ag-btn-lg">Marketplace</a>
      <a href="#our-mission" class="ag-btn-lg">Our Mission</a>
    </div>

    <div class="get-in-touch">
      <div class="ag-btn-lg ag-btn-primary">Get in Touch</div>
    </div>
  </div>

  <div class="about-us-cta">
    <picture>
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/about_us/about-us-mobile-cta.webp" type="image/webp">
      <source media="(max-width:414px)" srcset="https://assets.agzaga.com/about_us/about-us-mobile-cta.png" type="image/png" >
      <source srcset="https://assets.agzaga.com/about_us/about-us-main-desktop-cta.webp" type="image/webp" >

      <img data-src="https://assets.agzaga.com/about_us/about-us-main-desktop-cta.png" alt="About us" class="d-block w-100 outerdiv-img video_loader" loading= "lazy" >
    </picture>
  </div>
</header>

<div class="about-content-wrapper">
  <section class="our-story" id="our-story">
    <div class="ag-h6">Our Story</div>

    <div class="about-row">
      <div class="about-half-block">
        <div class="ag-h3">
          Four generations of agricultural business experience.
        </div>

        <div class="sub-content">
          <div class="ag-logo">
            <%= image_tag 'https://assets.agzaga.com/homepage_images/ag-logo.svg', class: "width-100", loading: 'lazy' %>
          </div>

          <p class="story-title">
            Our family-owned operation is on a mission to guide Agriculture into the 21st Century.
          </p>
        </div>
      </div>

      <div class="about-half-block">
        <p class="our-story-right-content">
          Proudly launched on June 1, 2021 and led by CEO Anthony Jones, Agzaga.com is Agriculture’s online marketplace. Agzaga brings four generations of agricultural business experience to the table, with the goal of ushering the Ag industry into the next generation by giving Ag people a time and money saving way to quickly and easily get everything they need—all in one place online.
        </p>

        <div class="sub-content for-mobile">
          <div class="ag-logo">
            <%= image_tag 'https://assets.agzaga.com/homepage_images/ag-logo.svg', class: "width-100", loading: 'lazy' %>
          </div>

          <p class="story-title">
            Our family-owned operation is on a mission to guide Agriculture into the 21st Century.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="family-owned" id="family-owned">
    <div class="about-row align-items-center">
      <div class="about-half-block mobile-order-2">
        <div class="ag-h1">Family-Owned & Operated</div>
        <p class="detail-para">
          We’re a family-owned business located in Southwest Missouri and are deeply rooted in the values that drive the agricultural community. Our first Ag business was founded in 1955 on the basis of serving dealers, both local and nationwide. We’ve celebrated over 60 years of serving valued customers and we’re just getting started.
        </p>

        <div class="cards-block">
          <div class="card">
            <div class="card-head">
              60+
            </div>
            <div class="card-content">
              Years of Service
            </div>
          </div>

          <div class="card">
            <div class="card-head">
              1,100+
            </div>
            <div class="card-content">
              Products to Offer
            </div>
          </div>

          <div class="card team-members">
            <div class="card-head">
              20+
            </div>
            <div class="card-content">
              Team Members
            </div>
          </div>

        </div>
      </div>

      <div class="about-half-block mobile-order-1">
        <picture>
          <source srcset="https://assets.agzaga.com/about_us/ag_family.webp" type="image/webp" >

          <img data-src="https://assets.agzaga.com/about_us/ag_family.png" alt="Agzaga Family" class="d-block w-100 family-image" loading= "lazy" >
        </picture>
      </div>
    </div>
  </section>

  <section class="market-place" id="market-place">
    <div class="about-row align-items-center">
      <div class="about-half-block">
        <picture>
          <source srcset="https://assets.agzaga.com/about_us/ag-member.webp" type="image/webp" >

          <img data-src="https://assets.agzaga.com/about_us/ag-member.jpg" alt="Agzaga Member" class="d-block w-100 ag-member-image" loading= "lazy" >
        </picture>
      </div>

      <div class="about-half-block">
        <div class="ag-h1">Agriculture’s Online Marketplace</div>
        <p class="detail-para">
        As the Agricultural world transitions to more online business, we need a place that shares our values. Most online platforms are owned and led by men and women who use the money generated from their businesses to work against the agricultural community.
        </p>

        <p class="detail-para">We aim to provide a place for ag companies to get their products into one centralized location online, compete in a bigger market, discover better shipping rates, get products moved quickly across the country, and save the farmer time and money in the process.
        </p>
      </div>
    </div>
  </section>

  <section class="our-mission" id="our-mission">
    <div class="full-banner">
      <picture>
        <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/ag_purpose_mob.webp" type="image/webp">
        <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/ag_purpose_mob.png" type="image/png" >
        <source srcset="https://assets.agzaga.com/about_us/ag_purpose.webp" type="image/webp" >

        <img data-src="https://assets.agzaga.com/about_us/ag_purpose.png" alt="Agzaga purpose, to Cultivate & Harvest Potential" class="d-block w-100 outerdiv-img video_loader" loading= "lazy" >
      </picture>
    </div>

    <div class="about-row">
      <div class="ag-h6">Our Mission</div>

      <div class="about-row">
        <div class="about-half-block">
          <div class="ag-h3">Anybody can make a customer for a day, our goal is to make one for life.</div>
          <p class="sub-title">Ronnie Jones - Founder, Jones Twine & Net Wrap</p>
        </div>

        <div class="about-half-block">
          <p class="detail-para">Our mission is to make the world a better place and help advance agriculture for generations to come. In pursuit of this mission, we’ve partnered in support with two incredible organizations that share our values.</p>
        </div>
    </div>

    <div class="mission-cards" id="our-culture">
      <div class="mission-card">
        <picture>
          <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/convey-of-hope-mobile-cta.webp" type="image/webp">
          <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/convey-of-hope-mobile-cta.png" type="image/png">

          <source srcset="https://assets.agzaga.com/homepage_images/convery_hope.webp" type="image/webp">
          <%= image_tag 'https://assets.agzaga.com/homepage_images/convery_hope.png', class: 'coh', alt: 'convoy of hope', loading: 'lazy' %>
        </picture>

        <div class="about-row">
          <p class="detail-para">
            Through Convoy of Hope, we are supporting third world countries around the globe in the development of agricultural skills; helping them feed their families and community.
          </p>

          <a href="https://link.edgepilot.com/s/9951d1c0/wqk33K4GHEyxKLpUyBaNYA?u=https://convoyofhope.org/agzaga/" class="ag-btn-lg ag-btn-primary" target="_blank" >Help Today</a>
        </div>
      </div>

      <div class="mission-card">
        <picture>
          <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/FFA%20Callout-mobile-cta.webp" type="image/webp">
          <source media="(max-width:767px)" srcset="https://assets.agzaga.com/about_us/FFA%20Callout-mobile-cta.png" type="image/png">

          <source srcset="https://assets.agzaga.com/homepage_images/growingLeader.webp" type="image/webp">
          <%= image_tag 'https://assets.agzaga.com/homepage_images/growingLeader.png', class: ' growing-leaders-img leaders', alt: 'growing leaders', loading: 'lazy' %>
        </picture>

        <div class="about-row">
          <p class="detail-para">
            Through our support of FFA, we have been able to give back to youth and local chapters across the nation through our Blue and Gold FFA Net Wrap and our Annual FFA Fundraiser.
          </p>

          <a href="https://www.ffa.org/about" class="ag-btn-lg ag-btn-primary" target="_blank" >Learn More</a>
        </div>
      </div>
    </div>
  </section>
</div>

# touched on 2025-05-22T21:51:11.893060Z
# touched on 2025-05-22T23:26:31.173255Z