<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= button_tag t('spree.actions.update'), class: 'btn btn-primary', disabled: @user&.deleted? %>
  <%= link_to t('spree.actions.cancel'), collection_url, class: 'button', disabled: @user&.deleted? %>
</div>

# touched on 2025-05-22T19:10:20.399243Z
# touched on 2025-05-22T21:30:50.319453Z
# touched on 2025-05-22T22:47:11.775742Z
# touched on 2025-05-22T22:50:07.384732Z
# touched on 2025-05-22T23:25:23.375320Z