<div class="d-flex justify-content-end mb-4">
  <h4 class="text-center mb-3">Total Store Credits Liability: <%= "$#{'%.2f' % total_store_credit}" %></h4>
</div>

# touched on 2025-05-22T22:49:58.450166Z