@font-face {
  font-family: 'Draught';
  src: asset-url('draught-sans-serif.woff') format('woff'),
       asset-url('draught-sans-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DraughtSansSerif-Textured-Regular';
  src: asset-url('draught-sans-serif-textured.woff') format('woff'),
       asset-url('draught-sans-serif-textured.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: asset-url('Poppins-Regular.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-medium';
  src: asset-url('Poppins-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-semi-bold';
  src: asset-url('Poppins-Semi-Bold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-bold';
  src: asset-url('Poppins-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-medium';
  src: asset-url('Lexend-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-semi-bold';
  src: asset-url('Lexend-Semi-Bold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: asset-url('Lexend-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Medium';
  src: asset-url('Lexend-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton-Regular';
  src: asset-url('Anton-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon-smith-stamp';
  src: asset-url('Brandon-Smith-Stamp.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lilita-One';
  src: asset-url('LilitaOne-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

# touched on 2025-05-22T19:07:39.273466Z
# touched on 2025-05-22T19:23:25.621072Z
# touched on 2025-05-22T20:33:29.625832Z
# touched on 2025-05-22T23:39:45.373092Z
# touched on 2025-05-22T23:46:18.974943Z