.product-container {
  padding: 16px;
  color: black;
  width: 100%;
  max-width: 450px;
  min-height: 125px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 8px;
  cursor: default;
  border: 1px solid var(--palette-neutral-200);

  &:hover {
    .content-container {
      .image-container {
        transform: scale(1.04);
      }
    }
  }

  .search-card {
    text-decoration: none;
  }

  .content-container {
    display: flex;
    column-gap: 16px;
    align-items: center;

    .image-container {
      width: 100px;
      height: 100px;
      border-radius: 4px;
      display: block;
      border: 1px solid var(--palette-neutral-200);
      object-fit: contain;
    }

    .product-details-container {
      width: 100%;

      .product-price {
        font-family: 'Poppins-semi-bold';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: var(--palette-neutral-800);
        display: flex;
        align-items: center;
        column-gap: 8px;
        flex-wrap: wrap;

        .discount-percentage {
          font-family: 'Poppins-medium';
          font-style: normal;
          font-weight: 500;
          font-size: 9px;
          line-height: 14px;
          text-align: center;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: var(--palette-destructive-500);
          background: var(--palette-destructive-100);
          border-radius: 2px;
          padding: 0 8px;
        }
      }

      .on-sale {
        color: var(--palette-destructive-500);
      }

      .original-price {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: var(--palette-neutral-500);

        span {
          text-decoration: line-through;
        }
      }

      .product-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--palette-neutral-600);
        width: 100%;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .product-label {
        color: var(--label_display_text_color);
        border-radius: 4px;
        padding: 1px 8px;
        cursor: pointer;
        width: fit-content;
        text-align: center;
        background: var(--label-color);
        font-family: 'Poppins-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        max-width: 100%;
        margin-bottom: 4px;
      }
    }
  }

  @media screen and (max-width: 1171px) {
    .content-container {
      row-gap: 16px;
    }
  }
}


# touched on 2025-05-22T22:29:59.250982Z
# touched on 2025-05-22T23:26:36.504725Z
# touched on 2025-05-22T23:48:08.312526Z