<div class="early-bird-sale">
  <div class="sale">21% OFF</div>
</div>

<div class="early-bird-text">
  <div class="welcome-text">AGZAGA DAY</div>
  <div class="signup-text">SUBSCRIBE FOR <span class="early-bird"> EARLY BIRD </span> ACCESS STARTING MAY 31st</div>
  <div class="signup-now-text">Sign up now!</div>
  <div class="reg">
    <div class="sale d-md-none">
      <div>21%</div> <div>OFF</div>
    </div>
    <div><%= render 'spree/shared/subscriber_registration', name: 'Submit' %></div>
  </div>
</div>

# touched on 2025-05-22T19:23:46.664279Z
# touched on 2025-05-22T20:41:10.645867Z
# touched on 2025-05-22T23:00:15.477999Z
# touched on 2025-05-22T23:28:46.660590Z
# touched on 2025-05-22T23:39:12.521880Z