<% if spree_user_signed_in? && @saveditems.count == 0 %>
    <div class="empty-cart-body empty-cart-body-saved-items" >
      <div class="empty-cart" >
        <div class="empty-cart-icon"><%= image_tag 'empty_saved_items.svg' %></div>
        <div class="empty-cart-text">You Don’t Have Any Saved Items</div>

        <% if on_cart_page %>
          <%= link_to t('spree.continue_shopping'), back_button_link, class: 'empty-cart-button ag-btn-lg ag-btn-primary' %>
        <% else %>
          <div class="empty-cart-button ag-btn-lg ag-btn-primary close-cart-slider">
            <%= t('spree.continue_shopping') %>
          </div>
        <% end %>
      </div>
    </div>
<%end%>

# touched on 2025-05-22T22:45:38.516457Z
# touched on 2025-05-22T23:46:59.603138Z