<div class="footer_credit_p-t">
  <ul class="nav">
    <li class="nav-item">
      <a class="pl-0 nav-link visa-card" href="#"><%= image_tag 'visa-dark.svg', alt: 'Visa' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'master-dark.svg', alt: 'Master' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'discover-dark.svg', alt: 'Discover' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'american-express-dark.svg', alt: 'American Experss' %></a>
    </li>
  </ul>

  <ul class="pl-0 nav under-credit-cards">
    <li class="nav-item">
      <a class="poppins-text-14 nav-link" href="/privacy_policy">Privacy</a>
    </li>

    <li class="nav-item">
      <a class="poppins-text-14 nav-link" href="/shipping_policy">Shipping & Returns</a>
    </li>
  </ul>
</div>

# touched on 2025-05-22T19:19:08.245616Z
# touched on 2025-05-22T22:32:12.724909Z
# touched on 2025-05-22T22:34:18.680907Z
# touched on 2025-05-22T23:05:11.335336Z
# touched on 2025-05-22T23:47:18.377980Z