<div
  class="modal checkout-login-modal linked-with-existing-account"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  id="user-registration-modal"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="user-registration-content">
      <%= render 'spree/shared/google_email_account', content: t("spree.linked_with_existing_email_account"), email_account: true %>
    </div>
  </div>
</div>

# touched on 2025-05-22T19:10:54.414646Z
# touched on 2025-05-22T23:07:39.176332Z