<div class="product-quick-view">
  <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: 'spree/shared/product_quick_view_body' %>
  </div>
</div>

# touched on 2025-05-22T23:42:03.306855Z