<div
  class="modal checkout-login-modal hide-setting-account-loader"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="user-registration-content">
      <div class="modal-body setting-email-section">
        <div class="body-header">
          <div class="body-header-title"><%= content %></div>

          <div class="body-header-text">This can take a few seconds...</div>

          <%= image_tag 'checkout-loading-gif-animation', class: "checkout_animation_gif" %>
        </div>
      </div>
    </div>
  </div>
</div>

# touched on 2025-05-22T19:07:28.955482Z
# touched on 2025-05-22T23:08:16.558462Z
# touched on 2025-05-22T23:29:26.433129Z