<div
  class="modal checkout-login-modal thank-sign-in-user visit-thank-sign-in-user"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="user-registration-content">
      <div class="modal-header">
        <div class="title-with-icon">
          <%= image_tag 'success-icon.png' %>
          <div class="modal-title">Thank's for Signing Up!</div>
        </div>

        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag("modal-close.svg") %>
        </div>
      </div>

      <div class="modal-body">
        <div class="body-header">
          <div class="body-header-title">With your new account, you can get:</div>

          <ul class="features-description">
            <li class="body-header-text">Access to all your past orders</li>
            <li class="body-header-text">Updates about new products & features</li>
            <li class="body-header-text">Easy access to the best deals in Ag</li>
          </ul>
        </div>
      </div>

       <div data-dismiss="modal"  class="start-shopping-section ag-btn ag-btn-md">
        Start Shopping
      </div>
    </div>
  </div>
</div>

# touched on 2025-05-22T20:40:36.340087Z
# touched on 2025-05-22T23:25:44.209655Z
# touched on 2025-05-22T23:39:40.522639Z