<% admin_breadcrumb('CTA Images') %>

<h1>CTA Image</h1>
<%= form_for [@admin, @cta_image], url: admin_cta_images_path do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= f.submit t('spree.actions.create'), class: 'btn btn-primary' %>
    <%= link_to 'Back', admin_cta_images_path, class: 'btn btn-primary' %>
  </div>
<% end %>


# touched on 2025-05-22T20:40:40.134528Z
# touched on 2025-05-22T22:33:52.784829Z
# touched on 2025-05-22T23:41:19.169342Z